
{% extends 'base.html' %}

{% block title %}Restform{% endblock %}

{% block customcss %}
{% endblock %}
{% block MainBody %}
 <form class="form" action="{% url 'password_reset' %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 my-4">
      <div class="form-group">
          <h3>Reset Password</h3>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>

{% endblock %}