{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}

{% block customcss %}

 <div class="unit-1-2 unit-1-on-mobile">
     <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4 my-4">
                <h3>Set new password</h3>
                <form class="form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
{% endblock %}

